.container 
{
    margin: 0;
    padding: 0;
    height: 150vh;
    display: flex;
}

.left
{
    width: 30%;
    background-color: #a1a8a4;
    justify-content: center;
    align-items: center;
    
}
.right
{
width: 70%;
background-color: #a0e6e9;
       
}
.left img
{
    padding-left: 80px;
    padding-top: 20px;
    width: 35%;
    height: 15%;
   
}
.text 
{
padding-left: 40px;
padding-top: auto;
    
}
.text1
{
padding-left: 100px;
padding-top: 10px;
font-size: 20px;
justify-content: center;
align-items: center;    


}



